.selector {
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: -ms-fit-content;
  width: -o-fit-content;
  width: fit-content;
  position: relative;
  
  .selector-dropdown {
    width: 100%;
    position: absolute;
    background-color: #fafafa;
    overflow-y: auto;
    line-height: 2.5ex;
    max-height: 12.5ex;
  }

  .selector-caret {
    svg {
      padding: 0;
      margin: 0;
      height: 0.5em;
      width: 1em;
    }
    opacity: 0.5;
    position: absolute;
    right: 2ex;
    top: 50%;
    transform: translateY(-55%);
    padding: 0;
    margin: 0;
    pointer-events: none;
  }
}
