@import 'positions';
@import 'colors';

$font-size: 1em;
$font-family: Roboto, Helvetica, sans-serif;

.selector {
  font-size: $font-size;
  font-family: $font-family;

  .selector-textbox-selected {
    color: black;
  }

  input {
    font-size: $font-size;
    padding: 0.25em;
    border-radius: 0;
    border: 1px solid #ddd;
    width: 16em;
    transition: border-color 0.1s ease;
  }

  input:focus {
    border-color: darkturquoise;
  }

  .selector-dropdown-element {
    padding: 0.25em;
  }
}